{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap-grid.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
        <script type="text/JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/js/bootstrap.min.js"></script>
        <script type="text/JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
        <!--========== BOX ICONS ==========-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        <!--========== CSS ==========-->
        
        <link rel="stylesheet" href="{% static 'css/ship.css' %}">

        <title>Coolchain</title>
</head>
    <body>
		{% block content %}
        <!--========== HEADER ==========-->
        <header class="header">
            <div class="header__container">
                <!-- <img src="map.png" alt="" class="header__img"> -->

                <a href="#" class="header__logo">Cool chain</a>
    
                
    
                <div class="header__toggle">
                    <i class='bx bx-menu' id="header-toggle"></i>
                </div>
            </div>
        </header>

        <!--========== NAV ==========-->
        <div class="nav" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="#" class="nav__link nav__logo">
                        <i class='bx bxs-disc nav__icon' ></i>
                        <span class="nav__logo-name">Cool chain</span>
                    </a>
    
                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle">Menu</h3>
    
                            <a href="{% url 'driver_monitor' driver_user_login %}" class="nav__link ">
                                <i class='bx bx-desktop nav__icon' ></i>
                                <span class="nav__name">Monitoring</span>
                            </a>
                            
                            <a href="{% url 'driver_shipping' driver_user_login %}" class="nav__link">
                                <i class='bx bxs-edit-location nav__icon active' ></i>
                                <span class="nav__name">Shipping</span>
                            </a>


                            <a href="{% url 'driver_tracking' driver_user_login %}" class="nav__link">
                                <i class='bx bxs-edit-location nav__icon' ></i>
                                <span class="nav__name">Tracking</span>
                            </a>
                            
                            

						<a href="driver_profile_setting" class="nav__link ">
                            <i class='bx bx-user nav__icon' ></i>
                            <span class="nav__name">Profile Setting</span>
                          </a>
                        </div>
    

						<form action="logout" method="POST">
							<a href="/" class="nav__link nav__logout">
								<i class='bx bx-log-out nav__icon' ></i>
								<span class="nav__name">Log Out</span>
							</a>
						  </form>
            </nav>
        </div>

        <!--========== CONTENTS ==========-->
        <div class="mid">
          <a href="{% url 'driver_shipping' driver_user_login %}"><i class="fa fa-arrow-left"></i>Shipping information</a>
        </div>
        <main>
          <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                  <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                      <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Shipping Information</h3>
                      <!-- <form action="/action_page.php" onsubmit = "return popup(this)"> -->
                        <!-- <form action="driver_shipping_confrim" method="POST">
                          {% csrf_token %} -->

                          <div class="row">
                            <div class="col-md-6 mb-4 pb-2">
                              <div class="form-outline">
                                <label class="form-label" for="type">Driver ID</label>
                                
                                
                                <input type="text" value="{{ spdt.driver_id.driver_id }}" class="form-control form-control-lg" readonly/> 
              
                              
                            
                            </div>
                          </div>    
  
  
                          <div class="row">
                            <div class="col-md-6 mb-4">
            
                              <div class="form-outline">
                                <label class="form-label" for="f_name">First Name</label>
                                <input type="text" value="{{ spdt.driver_id.driver_fname }}" class="form-control form-control-lg" readonly/>
                                
                              </div>
            
                            </div>
                            <div class="col-md-6 mb-4">
            
                              <div class="form-outline">
                                <label class="form-label" for="l_name">Last Name</label>
                                <input type="text" value="{{ spdt.driver_id.driver_lname }}" class="form-control form-control-lg" readonly/>
                                
                              </div>
            
                            </div>
                          </div>  
  
  
                          <div class="row">
                            <div class="col-md-6 mb-4">
            
                              <div class="form-outline">
                                <label class="form-label" for="type">Car ID</label>
                                
                                
                                <input type="text" value="{{ spdt.car_id.car_id }}" class="form-control form-control-lg" readonly/> 
              
                              
                            
                            </div>
            
                            </div>
  
                            
          
                        
                        
  
  
                            <div class="col-md-6 mb-4">
                              <div class="form-outline multip_select_box">
                                <label class="form-label" for="Coolboxs">Coolboxs ID</label>
                                <br>
                                <select name="m_weightcoolbox" class="multi_select form-control">
                                  {% for k in coolbox %}
                                  
                                  <option value="">{{ k.coolbox_id }}</option>
                                  {% endfor %}
                                  
                                </select>
                                
  
                                
                                
                                
  
                                
                                
                              </div>
            
                            </div>
                          </div>    
  
                          <div class="row">
                            <div class="col-md-6 mb-4 pb-2">
            
                              <div class="form-outline">
                                <label class="form-label" for="Date">Date</label>
                                
                          
                                <input type="text" value="{{ spdt.ship_date }}" multiple class="form-control form-control-sm" readonly/>
                                
                              </div>
            
                            </div>
  
                            <div class="col-md-6 mb-4 pb-2">
            
                              <div class="form-outline">
                                <label class="form-label" for="Date">Time</label>
                                
                          
                                <input type="text"  value="{{ spdt.ship_time }}" multiple class="form-control form-control-sm" readonly/>
                              </div>
            
                            </div>
                            
                          </div>
                            
                          <div class="row">
                            <div class="col-md-6 mb-4">
            
                              <div class="form-outline">
                                <label class="form-label" for="Origin">Origin</label>
                                <div class="form-outline datepicker w-100">
                                  <input type="text"  value="{{ spdt.original }}" multiple class="form-control form-control-sm" readonly/>
                                  
                                </div>
                                
                              </div>
            
                            </div>
                            <div class="col-md-6 mb-4">
            
                              <div class="form-outline">
                                <label class="form-label" for="destination">Destination</label>
                                <div class="form-outline datepicker w-100">
                                  <input type="text"  value="{{ spdt.destination }}" multiple class="form-control form-control-sm" readonly/>
                                  
                                </div>
                                
                              </div>
            
                            </div>
                          </div>  
                            
                            
                          <div class="d-flex justify-content-end pt-3">
                          
                            <a href="#saveModal" class="btn btn-success btn-lg"  data-toggle="modal"><span>Confrim</span></a>
                            
                          </div>  
                          <span style="color: green;"><small>{{message1}}</small></span><br> 
                          
                          
                          
                       
                        
              
                          <!-- <button type="submit"  value = "submit" class="btn btn-success btn-lg">Save</button> -->
    
    
                          <div id="saveModal" class="modal fade">
                            <div class="modal-dialog">
                            <div class="modal-content">
                              <form>
                                <div class="modal-header">						
                                  <h4 class="modal-title">Shipping information </h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">					
                                  <p>Are you sure you want to confrim these Records?</p>
                                  <p class="text-warning"><small>This action cannot be undone.</small></p>
                                </div>
                                <div class="modal-footer">
                                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                  <input class="btn btn-success btn-lg" type="submit" value="Confrim" data-toggle="modal"/>
                                </div>
                                
                              </form>
                            </div>
                            </div>
                            </div>
  
                          
              
              
                            <!--<button type="submit"  value = "submit" class="btn btn-success btn-lg">Save</button> -->
  
  
  
  
  
  
  
                          
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
                  
                  
                      
              
          </main>
          
          <!--========== ship JS ==========-->
          <script src="{% static 'js/ship.js' %}"></script>
          {% endblock %}
      </body>
  </html>