
  <div class="row">
  <div class="col-md-6 mb-4">

    <div class="form-outline">
      <label class="form-label" for="i_card">Driving license ID</label>
      <input type="text" name="drivinglicense_id" class="form-control form-control-lg" required/>
      
    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-4 pb-2">

    <div class="form-outline">
      <label class="form-label" for="Date">Issue Date</label>
      

      <input type="date" name="issue_date" multiple class="form-control form-control-sm" required/>
      
    </div>

  </div>

  <div class="col-md-6 mb-4 pb-2">

    <div class="form-outline">
      <label class="form-label" for="Date">Expire Date</label>
      

      <input type="time"  name="expire_date" multiple class="form-control form-control-sm" required/>
    </div>

  </div>
  
</div>